.fork-me {
    position: absolute;
    z-index: 100000;
    top: 0;
    right: 0;
}

.ionic-body {
    background: url(../img/line-background.jpg);
}

#wrapper {
    margin: 80px auto auto auto;
    width: 96%;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.body {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.description-img {
    position: relative;
    left: 370px;
    top: -100px;
    width: 300px;
    height: 240px;
    z-index: 10;
    background: url('../img/description.png');
    background-size: cover;
}

.local-img {
    position: relative;
    left: 640px;
    top: 100px;
    width: 400px;
    height: 240px;
    background: url('../img/local-windows.png');
    background-size: cover;
    padding: 90px 40px 40px 40px;
}

.local-img img {
    width: 100px;
}

.box {
    display: none;
}

.question-box,
.answer-box {
    width: 260px;
}

.question-box {
    float: right;
}

.answer-box {
    float: left;
}

img.left-image,
img.right-image {
    width: 15%;
    margin-right: 10px;
}

.left-image {
    float: left;
    width: 32px;
    height: 32px;
    background: #fff url('../img/gyao.png') 50% 50%;
    background-size: cover;
    border-radius: 50%;
}

img.right-image {
    float: right;
}

p.name02,
p.name {
    font-size: 14px;
    color: #fff;
    margin: 0;
}

p.name02 {
    text-align: right;
}

div.arrow-answer,
div.arrow-question {
    position: relative;
    padding: 10px 14px 10px 14px;
    max-width: 200px;
    font-size: 13px;
    margin-left: 3px;
    margin-bottom: 25px;
    color: #000;
    border-radius: 20px;
}

div.arrow-question {
    background: #fff;
}

div.arrow-answer {
    background: #85e249;
}

div.arrow-answer:before,
div.arrow-question:before {
    content: "";
    position: absolute;
    top: 0px;
    margin-left: 0;
    width: 30px;
    height: 30px;
    z-index: -1;
}

div.arrow-question:before {
    left: -10px;
    background: #fff;
    border-radius: 0px 30px;
}

div.arrow-answer:before {
    right: -10px;
    background: #85e249;
    border-radius: 30px 0;
}

div.arrow-answer:after,
div.arrow-question:after {
    content: "";
    position: absolute;
    top: -10px;
    margin-left: 0px;
    width: 25px;
    height: 25px;
    background: none repeat scroll 0% 0% #6f92c0;
    z-index: -1;
}

div.arrow-question:after {
    left: -12px;
    transform: rotate(10deg);
    border-radius: 0px 30px;
}

div.arrow-answer:after {
    right: -12px;
    border-radius: 30px 0px;
    transform: rotate(20deg);
}

.sticker {
    float: right;
}

.self-box {
    clear: both;
    text-align: right;
}

.self-status {
    color: #fff;
    font-size: 0.9em;
}

.scroll-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin-top: -1px;
    padding-top: 1px;
    margin-bottom: -1px;
    width: auto;
    height: auto;
}

.scroll {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-transform-origin: left top;
    transform-origin: left top;
}


/* profile */

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url("../img/autumn.jpg");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btn-circle {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 18px;
}

.post-button-field {
    text-align: center;
    margin-top: 20px;
}


/* タイトル */

.navbar-brand {
    line-height: 30px;
    font-size: 1.6em;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


/* 注意書き */
.attention {
    margin : 20px;
    padding : 20px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.attention p {
    text-align: left;
    font-size: 15px;
}


/* ソーシャルボタン */

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons img{
  width: 32px;
}

/* ヘッダナビ */

.navbar-inverse{
    background-color: #2b3442;
}